
// Colors
// --------------------------------------

$primary: 				#313E47;
$primary-complement: 	#FFFFFF;
$secondary: 			#6F7E82;
$secondary-complement: 	#FFFFFF;
$tertiary: 				#1594C4;
$tertiary-complement: 	#FFFFFF;
$white: 				#ffffff;
$gray: 					#7e8083;
$lightgray: 			#d5d6d7;
$lightestgray: 			#F1F1F1;
$darkestgray: 			#333333;
$darkgray: 				#4b4c4e;
$black: 				#000000;
$text-color: 			$black !default;
$link-color: 			$tertiary !default;
$disa-purple:   #5f457d;

$border-radius-base: 	0.4rem !default;
$font-size-base:        1.4rem !default; // Default font size. Equal to 14px.
$line-height-base:      2rem !default; // Default line height. Equal to 20px.
$enable-rounded:        true;

// Typography
// --------------------------------------

$font-family-sans-serif: "Source Sans Pro", sans-serif !default;
$font-family-serif:      Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Courier New", monospace !default; // Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-base:       $font-family-sans-serif !default;

$font-size-base:         1.4rem !default; // Default font size. Equal to 14px.
$line-height-base:       2rem !default; // Default line height. Equal to 20px.

// Color Tint Function
// --------------------------------------

// If average RGB value of $color is > 128, tint will darken $color by $percentage (or if $percentage is negative, lighten $color by abs($percentage))
// If average RGB value of $color is <= 128, tint will lighten $color by $percentage (or if $percentage is negative, darken $color by abs($percentage))
@function tint($color, $percentage){
    @return if(
        (red($color) + green($color) + blue($color)) / 3 > 128,
        if($percentage > 0, darken($color, abs($percentage)), lighten($color, abs($percentage))),
        if($percentage > 0, lighten($color, abs($percentage)), darken($color, abs($percentage)))
    );
}
